body, html {
    height: 100%;
}

.container {
    height: 100vh;
}



input.ng-invalid-max {
    border: 2px solid red;
}

input[disabled = "disabled"] {
    opacity: 0.4;
    cursor: not-allowed;
}

/* Login CSS */
