body, html {
    height: 100%;
}

.container-fluid {
    height: 100vh;
}

/* Login CSS */
.login {
    
    background-image: linear-gradient(
        to right bottom,
        rgba(55, 0, 179, 0.7),
        rgba(98, 0, 238, 0.7)),
        url("../img/trailertruck.jpeg");
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.mybtn {
    background-color: #6200ee;
    color: white;
}









input.ng-invalid-max {
    border: 2px solid red;
}

input[disabled = "disabled"] {
    opacity: 0.4;
    cursor: not-allowed;
}


