
<div class="container">
    <form action = "action_page.php">
    <div class = "dimensions">
    <label for ="dimensions">Dimensions:</label>
    <input type = "text" class ="form-control" id = "dimensions">
</div>
<div class = "size">
    <label for ="size">Size(volume):</label>
    <input type = "text" class ="form-control" id = "size">
    </div>
    <div class = "style">
        <label for ="style">Style:</label>
        <input type = "text" class ="form-control" id = "style">
        </div>
<div class = "condition">
    <label class="checkbox-inline"><input type="checkbox" value="">Option 1</label>
    <label class="checkbox-inline"><input type="checkbox" value="">Option 2</label>
    <label class="checkbox-inline"><input type="checkbox" value="">Option 3</label>
</div>

