<div class="container">
    <label>Search: <input ng-model="searchText"/></label>

    <label>
        Manufacturer
        <select ng-model="manufacturerList">
            <option value="Arising">Arising</option>
            <option value="Big Tex Trailers">Big Tex Trailers</option>
            <option value="Little Tex Trailers">Little Tex Trailers</option>
        </select>
    </label>

    <label>
        Condition
        <select ng-model="conditionList">
            <option value="New">New</option>
            <option value="Used">Used</option>
            <option value="Cosmetic Damage">Cosmetic Damage</option>
        </select>
    </label>

    <label>
        Dimensions
        <select ng-model="sizeList">
            <option value="6X12">6 X 12</option>
            <option value="7X14">7 X 14</option>
            <option value="8.5X16">8.5 X 16</option>
            <option value="8.5X24">8.5 X 24</option>
        </select>
    </label>

    <label>
        Year
        <select ng-model="yearList">
            <option value="2018">2018</option>
            <option value="2019">2019</option>
            <option value="2020">2020</option>
        </select>
    </label>

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>Title</th>
                <th>Image</th>
                <th>Model Number</th>
                <th>Dimensions</th>
                <th>Year</th>
                <th>Color</th>
                <th>Payload</th>
                <th>Manufacturer</th>
                <th>Condition</th>
                <th>Price</th>
                <th>Quantity</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr
                ng-repeat="trailer in trailers | filter:searchText | filter:conditionList | filter:manufacturerList | filter:yearList | filter:priceList | startFrom:pagination.currentPage*pagination.pageSize | limitTo:pagination.pageSize"
            >
                <td>{{trailer.title}}</td>
                <td>
                    <img class="img-thumbnail" data-ng-src="data:image/png;base64,{{trailer.image.data}}" alt="Trailer Image" />
                </td>
                <td>{{trailer.model}}</td>
                <td>{{trailer.dimension}}</td>
                <td>{{trailer.year}}</td>
                <td>{{trailer.color}}</td>
                <td>{{trailer.capacity}}</td>
                <td>{{trailer.manufacturer}}</td>
                <td>{{trailer.condition}}</td>
                <td>{{trailer.price}}</td>
                <td>{{trailer.quantity}}</td>
                <td><a href="#!/edit/{{trailer._id}}">Edit</a></td>
                <td><a href="" ng-click="delete(trailer._id)">Delete</a></td>
            </tr>
        </tbody>
    </table>
    <select ng-model="pagination.pageSize">
        <option value="25" selected="selected">25</option>
        <option value="50">50</option>
        <option value="100">100</option>
    </select>
    <button
        ng-disabled="pagination.currentPage == 0"
        ng-click="pagination.currentPage=pagination.currentPage-1"
    >
        Previous</button
    >{{pagination.currentPage+1}}/{{pagination.numberOfPages()}}
    <button
        ng-disabled="pagination.currentPage >= trailers.length/pagination.pageSize - 1"
        ng-click="pagination.currentPage=pagination.currentPage+1"
    >
        Next
    </button>
</div>
